<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="js/libs/angular.min.js"></script>
    <script type="text/javascript" src="js/grid.ctrl.js"></script>
    <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
    <style>
        .cell{
            margin-left: 4px; border: 1px solid black; display: inline-block;
            width: 60px; height: 60px;
        }
        .active{
            background-color: lightgreen;
        }
    </style>
</head>
<body ng-app>
    <div ng-controller="TicTacToeCtrl">
        <div ng-repeat="row in board track by $index">
            <div class="cell" ng-repeat="cell in row track by $index" id="{{cell.x}}-{{cell.y}}"></div>
        </div>
    </div>

    <script>
        $(function() {
            var isDragging = false;
            var start;

            var signum = function(n) {
                return n == 0 ? 0: -n/Math.abs(n);
            };

            var markCells = function(start, end) {
                $('.cell').removeClass('active');
                $('#'+start.join('-')).addClass('active');
                $('#'+end.join('-')).addClass('active');
                var dx = start[0] - end[0];
                var dy = start[1] - end[1];
                if (dx === dy || dx === -dy || dx === 0 || dy === 0) {
                    for(var i = 0; i<=Math.abs(dx) || i<=Math.abs(dy); i++) {
                        var x = start[0]-0+i*signum(dx);
                        var y = start[1]-0+i*signum(dy);
                        $('#'+x+'-'+y).addClass('active');
                    }
                }
            };

            $('.cell').mouseenter(function(e) {
                var $el = $(e.target);
                var end = $el.attr("id").split("-");
                if (isDragging)
                    markCells(start, end);
            });

            $('.cell').mousedown(function(e) {
                isDragging = !isDragging;
                var $el = $(e.target);
                start = $el.attr("id").split("-");
                if (isDragging)
                    $el.addClass('active');
                else
                    $('.cell').removeClass('active');
            });
        })
    </script>
</body>
</html>